* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at top left, #ffbcd9 0%, #ff9bb8 40%, #f687b3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    overflow-x: hidden;
    position: relative;

    isolation: isolate;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
    transform: scale(1);
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.01);
    z-index: -1;
    background-image: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.01) 0,
            rgba(255, 255, 255, 0.01) 1px,
            transparent 1px,
            transparent 3px
    );
}

.image {
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image_section {
    margin-top: 60px;
}

.title_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.title {
    font-size: clamp(28px, 5vw, 48px);
    font-weight: 700;
}

.subtitle {
    font-size: clamp(16px, 3.5vw, 20px);
    font-weight: 600;
    margin: 0 10px;
}

.button_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

button {
    height: 50px;
    width: 160px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(161, 140, 209, 0.7);
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(161, 140, 209, 0.9);
    background: linear-gradient(135deg, #b993d6, #8ca6db);
}

.yes_button{
    margin-right: 200px;
}

.no_button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 200px;
}

.no_button:active {
    transform: translateY(-3px) scale(1.05) rotate(-5deg);
    box-shadow: 0 8px 20px rgba(255, 105, 97, 0.9);
    background: linear-gradient(135deg, orangered, red);
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.carousel {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 25px auto;
    position: relative;
}

.carousel img {
    width: 90%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    transition: transform 0.8s ease-in-out;
}
