* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
}

body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #ffbcd9 0%, #ff9bb8 50%, #f687b3 100%);

}

.image{
    width: 500px;
    height: 400px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image2{
    width: 500px;
    height: 400px;
    border-radius: 5%;
}

.image_section{
    margin-top: 100px;
}

.title_section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.title{
    font-size: 48px;
    font-weight: 700;
}

.subtitle{
    font-size: 18px;
    font-weight: 600;
}

.button_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button {
    height: 50px;
    width: 160px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(161, 140, 209, 0.7);
    transition: all 0.3s ease;
}

.yes_button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(161, 140, 209, 0.9);
    background: linear-gradient(135deg, #b993d6, #8ca6db);
}

